@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-footer: hsl(var(--footer));
  --color-foreground: hsl(var(--foreground));
  --color-graytext: hsl(var(--graytext));

  --color-primary-light: hsl(var(--primary-light));
  --color-primary-dark: hsl(var(--primary-dark));
  --color-primary-text: hsl(var(--primary-text));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary-foreground-inverted: hsl(var(--primary-foreground-inverted));
  --color-shadow-tone: hsl(var(--shadow-tone));
  --color-shadow-tone-xs: hsl(var(--shadow-tone-xs));
  --color-shadow-tone-sm: hsl(var(--shadow-tone-sm));
  --color-shadow-tone-lg: hsl(var(--shadow-tone-lg));

  --color-gold: hsl(var(--gold));
}

@layer base {
  :root {
    --background: 65 8% 88%;
    --footer: 65 8% 83%;
    --foreground: 222 47% 11%;
    --graytext: 213 0% 18%;

    --primary-light: 134 53% 77%;
    --primary-dark: 121 27% 56%;
    --primary-text: 134 53% 65%;
    --primary-foreground: 212 10% 3%;
    --primary-foreground-inverted: 212 10% 80%;

    --gold: 46 79% 51%;

    --shadow-tone: 360 0% 18%;
    --shadow-tone-xs: 360 0% 53%;
    --shadow-tone-sm: 360 0% 43%;
    --shadow-tone-lg: 360 0% 21%;
  }

  * {
    @apply m-0 p-0;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  input {
    outline: none;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 3px var(--color-gold);
}

@utility input-wrapper {
  @apply relative before:absolute w-2/3;
  @apply border-3 border-solid border-primary-dark rounded-lg;
  @apply before:top-[-14px] before:left-3 before:bg-white before:pl-2 before:pr-2 before:text-primary-dark;
}

@utility input-field {
  @apply w-full h-11 p-2;
}

@utility innershade {
  box-shadow: inset 0 0 8px 4px #000000;
}

@utility shadow {
  filter: drop-shadow(0 0 9px var(--color-shadow-tone));
}
@utility shadow-xs {
  /* filter: drop-shadow(1px 1px 10px var(--color-shadow-tone-light)); */
  box-shadow: 0 0 9px 0px var(--color-shadow-tone-xs);
}
@utility shadow-sm {
  /* filter: drop-shadow(1px 1px 10px var(--color-shadow-tone-light)); */
  box-shadow: 0 0 10px 0px var(--color-shadow-tone-sm);
}
@utility shadow-lg {
  /* filter: drop-shadow(1px 1px 10px var(--color-shadow-tone-light)); */
  box-shadow: 0 0 18px 2px var(--color-shadow-tone-lg);
}

@utility t1 {
  @apply font-bold text-base sm:text-lg md:text-xl lg:text-2xl;
}
@utility h1 {
  @apply font-bold text-base sm:text-3xl md:text-4xl lg:text-4xl;
}

@utility t2 {
  @apply font-light text-sm sm:text-base md:text-lg lg:text-xl;
}

@utility t3 {
  @apply font-light text-xs sm:text-sm md:text-sm lg:text-base;
}

@utility t4 {
  @apply font-extralight text-xs sm:text-xs md:text-xs lg:text-sm;
}

@utility t-ico1 {
  @apply text-3xl sm:text-4xl md:text-4xl lg:text-5xl;
}

@utility t-ico2 {
  @apply text-xl sm:text-2xl md:text-2xl lg:text-3xl;
}

@utility t-ico3 {
  @apply text-lg sm:text-xl md:text-xl lg:text-2xl;
}

/* ADMIN PAGE */
@utility nav-item {
  @apply flex items-center justify-end gap-2 text-gray-900 h-12 p-4 w-full hover:bg-primary-dark;
  @apply cursor-pointer;
}
@utility nav-item-t {
  @apply flex items-center justify-center t2;
}
@utility nav-item-i {
  @apply flex items-center justify-center t-ico3;
}
